.acc-container{
    text-align: center;
    padding: .5rem 2rem;
}

.acc-container h2{
color: var(--black);
}

.company-images{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.image-container{
    width: 20%;
}

.image-container img{
    width: 100%;
}