@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #212529;
  --gray: #707070;
  --gray-bg: #f6f7f8;
  --green-bg: #e6f7e9;
  --primary: #0dba4b;
  --hover: #0b963d;
  --green-bg: linear-gradient(100.58deg, #001611 -14.23%, #013d2d 110.06%);
  --purple-bg: linear-gradient(287.87deg, #3e115a -4%, #1d142c 103.09%);
  --green-card: #06382e;
  --purple-card: #36124f;
}
