  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    }

  :root{
    --black: #212529;
    --gray: #707070;
    --gray-bg: #F6F7F8;
    --green-bg: #E6F7E9;
    --primary: #0DBA4B;
    --hover: #0B963D;
    --green-bg: linear-gradient(100.58deg,#001611 -14.23%,#013d2d 110.06%);
  }